# =========================
# Dataset / generated data
# =========================

create/input/*
create/output_1/*
create/output_2/*
create/dataset/*
create/training/*

images/original/*
images/yolo_seg_results/*
images/edited_results/*

output/*
runs/*

!create/input/.gitkeep
!create/output_1/.gitkeep
!create/output_2/.gitkeep
!create/dataset/.gitkeep
!create/training/.gitkeep

!images/original/.gitkeep
!images/yolo_seg_results/.gitkeep
!images/edited_results/.gitkeep

!output/.gitkeep
!runs/.gitkeep

# =========================
# RealSense bag files
# =========================

*.bag
bag_*/
bag/**
!bag/
!bag/**/

!bag/.gitkeep
!bag/**/.gitkeep

# =========================
# Model weights
# =========================

*.pt
*.pth
!weights/
weights/*
!weights/.gitkeep

# =========================
# Large files
# =========================

*.png
*.jpg
*.jpeg
*.bmp



# =========================
# Python cache
# =========================

__pycache__/
*.pyc
*.pyo


# =========================
# Editor
# =========================

.vscode/
.idea/

# virtualenv
venv/
.env/

# pipeline
pipeline/__pycache__/